#game3{
    height: 100vh;
}
#game4_vzor{
    height: 40vh;
    padding-top: 20vh;
}
#game4_vzor div{
    width: 30vh;
    height: 30vh;
    /* background-color: blue; */
    background-size: contain;
    margin-left: auto;
    margin-right: auto;

}

#game4_choices{
    height: 40vh;
    text-align: center;
}

#game4_choices button{
    width: 20vh;
    height: 20vh;
    /* background-color: red; *tmp */
    background-size: contain;
    position: flex;
    margin: 3vw;
}
#circle{
    border: 6px solid red;
    border-radius: 50%;
    width: 24vw;
    height: 24vw;
    position: absolute;
    z-index: 10;
    bottom: 5vw;
    right: 7.5vw;
}

#prekryv{
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 100;
    display: none;
}