:root{
    --borderRadius: 5px;
    --backroundColor: #F7DFBB
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.space{
    height: 30px;
}
/* body{
    height: 100vh;
    background-color: white;
}
header{
    padding: 5em 0px 5em 0px;
    background-color: var(--backroundColor);
}


#container{
    background-color: var(--backroundColor);
    height:100%;
    text-align: center;
}
#buttonContainer{
    background-color: var(--backroundColor);
    height: 30vh;
    padding-top: 10vh;
    display: none;
} */


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .navbar_offset{
    overflow: hidden;
    background-color: #333;
    position: relative; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
    visibility: hidden;

  }
  
  .navbar_offset a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
/* #buttonContainer :nth-child(1){
    background-image: url(/imgs/stroop.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    text-shadow: 1px 1px rgb(255, 255, 255);
}

#buttonContainer :nth-child(2){
    background-image: url(/imgs/soundIcon.png);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 1000;
}

#buttonContainer :nth-child(3){
    background-image: url(/imgs/procesingSpeed.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    color: white;
}
#buttonContainer :nth-child(4){
    background-image: url(/imgs/blockDesign.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
} */

.button{
    margin: 3.7vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 18vw;
    min-width: 6em;
    height: 20vh;
    font-weight: bold;
    font-size: 30px;
    border-radius: var(--borderRadius);
}

#submitBut{
    margin: 5%;
    padding: 30px;
    width: 20rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(253, 163, 89);
    border-radius: var(--borderRadius);
}
#endGame{
    width: 3em;
    height: 3em;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    display: none;
}

#nameInput, #ageInput{
    height: 2em;
    font-size: 15px;
    font-style: italic;
}